@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */
body {
  padding-top: 65px;
  color: #222;
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
#hero-sec{
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
#room{
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}